<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li class="active"><a href="/ccsf_rails/index">Home</a></li>
      <li><a href="/ccsf_rails/about">About</a></li>
      <li><a href="/ccsf_rails/links">Links</a></li>
    </ul>
    <h3 class="text-muted">City College of San Francisco</h3>
  </div>

  <div class="row marketing">
    <div class="col-lg-12">

      <h1>City College of San Francisco</h1>
      <p><a href="http://www.ccsf.edu/Schedule/"><img style="float:left;padding-right:20px;" src="http://www.ccsf.edu/Schedule/gr/14summer-p.png"></a>City College of San Francisco is an urban community college serving about 90,000 students annually at several centers and sites throughout San Francisco. CCSF DONATE We offer an affordable opportunity to earn associate degrees, prepare for transfer, and pursue career and technical education. City College also offers distance learning and free noncredit courses in many fields.</p>
      <p>To learn more, please visit:</p>
      <ul>
        <li><a href="http://www.ccsf.edu/ccsf/en/educational-programs.html">Educational Programs and The Office of Academic Affairs</a></li>
        <li><a href="http://www.ccsf.edu/ccsf/en/student-services.html">Student Services and The Office of Student Development</a></li>
      </ul>

    </div>
  </div>

  <div class="footer">
    <p>&copy; Ji Hye Choi 2014 | <%= __FILE__ %></p>
  </div>
</div> <!-- /container -->